<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div id="categorias" class="list-group categorias">

    </div>
  <div id="categoriasc" class="list-group categorias">
    <div class="row" style="margin:0">
      <div  *ngFor="let item of tipocat; let i=index">
        <h4 *ngIf="item.activo || item.idtipocategoria==11" style="color: aliceblue;font-size: 9px;">{{item.nombre}}</h4>
        <p-tree *ngIf="item.activo || item.idtipocategoria==11" selectionMode="checkbox"  [value]="this.cats[i]" (onNodeSelect)="nodeSelect($event)" [(selection)]="catSel" (onNodeUnselect)="nodeUnselect($event)">
          <ng-template let-node pTemplate="default">
           <div class="bnt bt{{node.idcategoria}}" style="width: 100%;" > {{node.categoria| uppercase}} 
            <span >
              <!-- The icon that will wrap the number -->
              <!-- a strong element with the custom content, in this case a number -->
              <strong >
                {{node.total| uppercase}}
              </strong>
          </span> 
           </div>
          </ng-template>
        </p-tree>     
   
      </div>
    </div>
  </div>
</div>
<div id="main" class="row">
  <div class="col-12">
    <button class="openbtn" (click)="openNav()">&#9776;</button>

    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>
